---
// blog page front matter
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<SiteLayout>
  <section>
    <article class="container mx-auto prose prose-xl prose-white">
      <h1 class="text-xl text-orange-600">{entry.data.title}</h1>
      <h2 class="text-lg text-orange-600">{entry.data.publishedDate}</h2>
      <Content />
    </article>
  </section>
</SiteLayout>
