---
// index page frontmatter
import SiteLayout from "../layouts/SiteLayout.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<SiteLayout>
  <section>
    <div class="grid grid-cols-2 gap-4">
      {
        blogEntries.reverse().map((blogPostEntry) => (
          <article class="container mx-auto px-4 py-4 max-w-prose rounded overflow-visible bg-slate-700">
            <h2 class="text-orange-600 hover:font-bold"><a href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a></h2>
            <h3>Published: {blogPostEntry.data.publishedDate}</h3>
            <p> {blogPostEntry.data.description}</p>
          </article>
        ))
      }
    </div>
  </section>
</SiteLayout>
