---
// index page frontmatter
import SiteLayout from "../layouts/SiteLayout.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<SiteLayout>
  <section>
    <ul>
      {
        blogEntries.reverse().map((blogPostEntry) => (
          <li>
            <a class="text-pink-500 hover:font-bold" href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
            <p>{blogPostEntry.data.description}</p>
          </li>
          <br />
        ))
      }
    </ul>
  </section>
</SiteLayout>
