---
// header component frontmatter
---

<header class="flex flex-col items-center justify-center">
  <h1 class="text-2xl text-orange-600">Crusty Rustacean - The Blog</h1>
  <h2 class="text-xl text-orange-600">
    ...writing mostly once a month...mostly...
  </h2>
</header>
