---
// header component frontmatter
---

<header class="py-5">
  <h1 class="text-xl text-orange-600">Crusty Rustacean - The Blog</h1>
  <h2 class="text-lg text-orange-600">
    ...writing mostly once a month...mostly...
  </h2>
</header>
