---
// nav bar component front matter
---

<nav class="py-5 text-xl text-pink-500">
  <ul class="flex">
    <li class="mr-6 hover:font-bold"><a href="/">Home</a></li>
    <li class="mr-6 hover:font-bold"><a href="/categories">Categories</a></li>
    <li class="mr-6 hover:font-bold"><a href="/tags">Tags</a></li>
    <li class="mr-6 hover:font-bold">
      <a href="https://github.com/sentinel1909" target="_blank">Github</a>
    </li>
  </ul>
</nav>
