---
import Search from './Search';
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
const posts = blogEntries;
---

<div class="flex items-center justify-center">
  <Search client:load searchList={posts} />
</div>