---
// Site Layout frontmatter
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import SearchBar from '../components/SearchBar.astro';
import Footer from "../components/Footer.astro";

const pageTitle = "Crusty Rustacean - The Blog";
const year: string = new Date().getFullYear().toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{pageTitle}</title>
  </head>
</html>
<body class="bg-slate-900 bg-no-repeat bg-center" style="background-image: url(/crusty-rustacean-blog-cover.png)">
  <div class="container mx-auto px-4 font-mono bg-slate-800 opacity-90 text-white">
    <Header />
    <SearchBar />
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer year={year} />
  </div>
</body>
